/* Stylesheet for Trivia Game (week 5 Homework) Game */


/* IMport reset css first */

@import "reset.css";



/* ------General styles (post reset.CSS) & background image--- */

/* html, body {
	height: 100%;
	
} */

body {
	width: 100%;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: #333;

	margin: 0;
	padding:0;
	
}

h1, h2, h3, h4 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
}

h1 { 
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

h2 { 
    font-size: 1.67em;
    margin-top: 1em;
    margin-bottom: 1em;
}

h3 { 
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
}


p {
	font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.clearfix{
	content: “”;    
	display: block;
	clear: both;
} 

* {
	box-sizing: border-box;
}

/* ------ Header--- */


header {
	height: 140px;
	margin: 0 0 10px 0;
	padding: 80px 20px 0 20px;
	
	background-image: url("../images/milkyWayBanner.jpg");
	background-size: 100% 150px;
	background-repeat: no-repeat;
	background-position: top left;

	border: 1px solid #ddd;
}

.navbar-default {
	border: none;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.astro-quiz {
	font-size: 66px;
	font-weight: bold;
	color: #ddd !important;
	position: relative;
	top: -30px;
}

.astroquiz-subhead {
	color: #ddd !important;
	position: relative;
	top: -22px;
}

nav li {
	border-right: 1px solid #333;

}

nav li:first-child { 
	border-right: 3px solid #333;
}

nav li:last-child { 
	border: none; 
}

.navbar-right {
	color: #ddd !important;
}

.quiz-select, .quiz-choice, .quiz-choice a {
	font-size: 16px;
	color: #ddd !important;
	background-color: #111;
	z-index: 1;
}

.quiz-select:hover {
	color: #ddd !important;
	background-color: #111 !important;
	z-index: 1;
}

.quiz-choice:hover {
	color: #ddd !important;
	background-color: #222 !important;
	z-index: 1;
}

.quiz-choice:visited {
	color: #ddd !important;
	background-color: #222 !important;
	z-index: 1;
}




/* ------ Main --- */

.container {
	max-width: 1250px;	
	min-height: 560px;
	align-content: center;
}

.main-area {
	min-height: 560px;
	padding: 20px 5px 20px 20px;
	margin: 10px 0; 

	border: 1px solid #ddd;
}


.time-display {
	width: 140px;
	height: 90px;

	margin: 0 auto;

	border: 2px solid #ddd;

	font-size: 40px;
	padding: 23px 12px;
}


.form-check-label {
	padding-bottom: 6px;
}


.form-check-label span {
	padding-left: 10px;
}

.submit-btn {
	margin-top: 20px;
	font-size: 16px;
}

.another-quit {
	margin: 20px 20px 20px 0;
	font-size: 16px;
}

.question-group {
	font-size: 2em;
	color: #333;
}

.question-answer, .question-explain {
	margin: 0;
	padding-top: 10px;
}

.text-green {
	color: green;
}
.text-red {
	color: red;
}

.all-answers {
	width: 70%;
	font-size: 16px;
	line-height: 24px;
	float: left; 
}

.answer-images {
	float: right; 
	padding: 10px 20px 10px 20px;
	height: 150px;
}


.side-bar {
	min-height: 260px;
	padding: 20px;
	margin: 10px 0;
	border: 1px solid #ddd;
}


footer {
	height: 80px;

	padding: 30px;
	margin: 10px 0;
	text-align: center;

	border-radius: 5px;

	background-color: #ddd;
}

@media screen and (max-width: 991px) {
	
	.astro-quiz {
		font-size: 44px;
		font-weight: bold;
		color: #ddd !important;
		position: relative;
		top: -30px;
	}

	.astroquiz-subhead {
		font-size: 12px;
		color: #ddd !important;
		position: relative;
		top: -22px;
	}

	.quiz-select, .quiz-choice, .quiz-choice a {
		font-size: 13px;
	}

}

@media screen and (max-width: 991px) {
	.time-display {
	margin: 0;
	}

}


@media screen and (max-width: 650px) {
	.answer-images {
	float: none;
	padding: 20px 20px 10px 0;
	}
}
